@font-face {
    font-family: sdk;
    src: url(../src/font/ja-jp.ttf);
}

@font-face {
    font-family: josefin;
    src: url(../src/font/JosefinSans-VariableFont_wght.ttf);
}

:root {
    --azul_33_brilho: #274E81;
    --azul_principal: #1B3659;
    --branco: #ffffff;
    --azul_13_saturacao: #323942;
    --vermelho_58_brilho: #FB2D2D;
    --azul_login: #00AEE5;
    --cinza: #A8A8A8;
    --laranja_76_saturação: #D9761E;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(../src/img/outros/Fundo\ do\ site.svg);
    background-repeat: no-repeat;
}

/* Css do Header */
.headerpai {
    background-color: rgb(0, 0, 0, 0.55);
    height: 100px;
    width: 100%;
}

.headerfilho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.headerfilho .hf1 {
    width: 59px;
    height: 68px;
    margin-left: 60px;

}

.headerfilho .hf2 {
    align-self: center;
    width: fit-content;
    height: 78px;
}

.headerfilho .hf3 {
    width: fit-content;
    height: 75px;
    border-radius: 100%;
    margin-right: 43px;
}

/* Fim do Css do Header */

/* Css do section Liyue */
.paidospais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainpai {
    margin-top: 164px;
    margin-left: 45px;
}

.sectionpai {
    height: 1140px;
    width: 850px;
    background-color: var(--azul_33_brilho);
    border-radius: 20px;
    margin-right: 44px;
}

/* segunda navbar do blog */
.nav2 {
    background-color: var(--azul_principal);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav2 h2 {
    font-family: sdk;
    color: var(--branco);
}

.nav2 img {
    width: 312px;
}

/* conteudo do blog */
.conteudopai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px
}

.conteudo {
    background-color: var(--branco);
    height: 990px;
    width: fit-content;
    border-radius: 20px 15px 15px 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.conteudo::-webkit-scrollbar {
    width: 10px;
}

.conteudo::-webkit-scrollbar-track {
    background: var(--azul_principal);
    border-radius: 0px 20px 20px 0px;
}

.conteudo::-webkit-scrollbar-thumb {
    background-color: var(--laranja_76_saturação);
    border-radius: 20px;
}


.conteudo p {
    padding: 18px 30px 18px 30px;
    width: 721px;
    font-family: josefin;
    font-size: 20px;
}

/* css das figuras laterais */
.figurepai {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.figurepai img {
    width: 369px;
    height: 360px;
}

.figurepai .img1 {
    margin-bottom: 30px;
}

.figurepai .img3 {
    margin-top: 35px;
}

.mainpai {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* css dos comentarios */
.comentarios {
    margin-left: 150px;
    background-color: var(--azul_33_brilho);
    width: 850px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.caixa_comentarios textarea {
    border: 1px solid var(--cinza);
    background-color: var(--azul_33_brilho);
    width: 800px;
    height: 100px;
    color: var(--branco);
    font-size: 16px;
    outline: none;
    resize: none;
    margin-top: 30px;
}
.caixa_comentarios textarea::placeholder {
    font-size: 18px;
    font-family: sdk;
    color: var(--cinza);
    padding-top: 20px;
    padding-left: 51px;
    padding-bottom: 50px;
}
.caixa_comentarios button {
    background-color: var(--laranja_76_saturação);
    color: var(--branco);
    font-size: 18px;
    font-family: sdk;
    border-radius: 20px;
    padding: 9px 14px 9px 14px;
    text-align: center;
    border: none;
    margin-top: 29px;
    margin-bottom: 25px;
    align-self: flex-end;
}
/* css do footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: var(--azul_13_saturacao);
    margin-top: 102px;
}
footer .geoimgfooter {
    height: 167px;
    width: 153px;
}
footer img {
    padding: 16px;
}
footer a {
    text-decoration: none;
}